  @media (max-width: 430px) {
    .firstSection {
      height: 30vw;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
    
    