  html, body {
    font-family: "Groboldov";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@media screen and (min-width: 320px) and (max-width: 768px){
    .firstSection {
      flex-direction: column;
  display: flex;
  padding: 0vw 0vw;
  width: 100%;
   align-items: center;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
       justify-content: center;
      align-items: center;
  border: 1.5vw solid #925948;
}
.scene {
    width: 100%;
    height: 25vw; 
    overflow: hidden; /* Скрывает части изображения вне области просмотра */
    position: relative;
   
}
.train-image {
    position: absolute;
    bottom: 0px; 
    height: 20vw; 
    animation: moveTrain 20s linear infinite; 
    
}
.secondSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.container-left {
    display: flex; 
    border: 1.5vw solid #925948;
    flex-wrap: wrap; 
    width: 100%;
}
.container-right {
  width: 100%;
}
.shelf-item {
    flex: 1; 
    padding: 20vw 0vw;
    border: 1.5vw solid #925948;  
}

.shelf-item1 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
.shelf-item2 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
.shelf-item3 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
    .shelf-item1 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }

   }