
  * {
  box-sizing: border-box;
}
body {
  display: block;
   background-color: #FFE693;
  position: relative;
  overflow-x: hidden; 
  flex-direction: column;  
  font-family: "Speckqtograph Handwriting", Arial, Helvetica, sans-serif;
}
/*body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/Fon1.png');
  width: 1280px;
  height: 1600px;
  opacity: 0.2;
}*/ 
.firstSection {
  display: flex;
  padding: 0vw 0vw;
  width: 100%;
   align-items: center;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
  border: 1.5vw solid #925948;
}
.scene {
    width: 100%;
    height: 25vw; 
    overflow: hidden; /* Скрывает части изображения вне области просмотра */
    position: relative;
   
}
.train-image {
    position: absolute;
    bottom: 0px; 
    height: 20vw; 
    animation: moveTrain 20s linear infinite; 
    
}
.secondSection {
  display: flex;
  
}
.container-left {
    display: flex; 
    border: 1.5vw solid #925948;
    flex-wrap: wrap; 
    width: 50%;
}
.container-right {
  width: 50%;
}
.square {
  width: 60vw ;
  height: 40vw;
  bottom: -86vw; 
      position: relative;
  background-color: #925948;
}
.flag1 {
  position: absolute;
  width: 47vw;
  left: 1.5vw;
  margin-top: 45vw;
   overflow: hidden;
  transition: transform 5s alternate; 
}
.flag1:hover {
  animation: flag1_color 5s infinite alternate;
}
@keyframes flag1_color {
  0% {filter: hue-rotate(0deg) brightness(1) saturate(1);}
  25% {filter: hue-rotate(90deg) brightness(1.2) saturate(1.2);}
  50% {filter: hue-rotate(180deg) brightness(1) saturate(1);}
  75% {filter: hue-rotate(270deg) brightness(0.8) saturate(0.8);}
  100% {filter: hue-rotate(360deg) brightness(1) saturate(1);}
}
.Child{
   position: absolute;
  margin-top: 45vw;
   overflow: hidden;
   width: 70vw;  /* Ширина ОДНОГО кадра (например, 50px) */
  height: 80vw; /* Высота кадра */
  background-repeat: no-repeat;
   animation: manual-frames 1s infinite linear; 
}
@keyframes manual-frames {
  /* 6 кадров, каждый занимает примерно 16.66% времени анимации */
  
  0% { 
    background-position: 0px 0px; /* Кадр 1 (Начало) */
  }
  16.66% { 
    background-position: -50px 0px; /* Кадр 2 */
  }
  33.32% { 
    background-position: -100px 0px; /* Кадр 3 */
  }
  49.98% { 
    background-position: -150px 0px; /* Кадр 4 */
  }
  66.64% { 
    background-position: -200px 0px; /* Кадр 5 */
  }
  83.3% { 
    background-position: -250px 0px; /* Кадр 6 */
  }
  100% { 
    background-position: -300px 0px; /* Возврат к началу цикла */
  }
}
.shelf-item {
    flex: 1; 
    padding: 20vw 0vw;
    border: 1.5vw solid #925948;  
}

.shelf-item1 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
.shelf-item2 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
.shelf-item3 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
    .shelf-item1 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }


