
  * {
  box-sizing: border-box;
}
body {
  display: block;
   background-color: #FFE693;
  position: relative;
  overflow-x: hidden; 
  align-items: center; 
  flex-direction: column;  
  height: auto;
  font-family: "Speckqtograph Handwriting", Arial, Helvetica, sans-serif;
}
/*body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/Fon1.png');
  width: 1280px;
  height: 1600px;
  opacity: 0.2;
}*/ 
.firstSection {
  display: flex;
  padding: 0vw 0vw;
  width: 100%;
   align-items: center;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
  border: 1.5vw solid #925948;
}
.scene {
    width: 100%;
    height: 25vw; 
    overflow: hidden; /* Скрывает части изображения вне области просмотра */
    position: relative;
   
}
.train-image {
    position: absolute;
    bottom: 0px; 
    height: 20vw; 
    animation: moveTrain 20s linear infinite; 
    
}
.secondSection {
  display: flex;
  
}
.container-left {
    display: flex; 
    border: 1.5vw solid #925948;
    flex-wrap: wrap; 
    width: 50%;
}
.container-right {
  width: 50%;
}
.shelf-item {
    flex: 1; 
    padding: 20vw 0vw;
    border: 1.5vw solid #925948;  
}

.shelf-item1 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
.shelf-item2 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
.shelf-item3 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }
    .shelf-item1 {
  padding: 20vw 0vw;
    position: relative;
    border: 1.5vw solid #925948; 
    }


